.footer {
    font-family: var(--bs-font-sans-serif);
    background: linear-gradient(rgba(0, 0, 0, 0.788), rgb(87, 108, 183));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        ul {
            margin: 5px;
            padding: 0;
            li {
                list-style: none;
                padding: 8px;
                display: flex;
                flex-direction: column;
                transition: 1s;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    color: rgb(237, 237, 237);
                    text-decoration: none;
                    display: inline-block;
                    font-size: 20px;
                    transition: 0.5s;

                    &:hover {
                        color: rgba(0, 0, 0, 0.456);
                    }
                }
            }
        }
    }

    a {
        img {
            width: 300px;
            height: 300px;
            display: flex;
        }
    }

    .footerGaleriaRedes {
        a {
            img {
                width: 70px;
                height: 70px;
                display: flex;
                padding: 15px;
                flex-direction: column;
                transition: 1s;
                margin: 0;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}