.listaHeader {
    font-family: var(--bs-font-sans-serif);
    background: linear-gradient(rgba(0, 0, 0, 0.86), #576cb7);
    position: map-get($listaHeader , position-lista-header );
    display: map-get($listaHeader , display-lista-header );
    justify-content: map-get($listaHeader , justify-lista-header );
    align-items: map-get($listaHeader , align-lista-header );
    top: 0;

    a img {
        width: map-get($aImgHeader , ancho-img-header );
        height: map-get($aImgHeader , alto-img-header );
        object-fit: cover;
    }


    nav {
        display: map-get($navHeader , displa-nav-header );

        ul {
            display: map-get($ulHeader , display-ul-header );
            flex-direction: map-get($ulHeader , flex-ul-header );
            align-items: map-get($ulHeader , align-ul-header  );
            margin-right: map-get($ulHeader , margin-ul-header );
            padding: map-get($ulHeader , padding-ul-header);

            li {
                list-style:map-get($liHeader , list-li-header  );
                margin-right: map-get($liHeader , margin-right-li-header  );
                margin-bottom: map-get($liHeader , margin-botom-li-header );
                transition: 1s;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    color: rgb(237, 237, 237); 
                    text-decoration: map-get($aHeader , textdecoration-a-header );
                    font-size: map-get($aHeader,fontsize-a-header  );
                    transition: 0.5s;

                    &:hover {
                        color: rgba(0, 0, 0, 0.456);
                    }
                }
            }
        }
    }

}