@media screen and (max-width: 1000px) {
    .listaHeader {
        @include listaHeader (column, center, center);

        img {
            display: block;
            margin: auto;
        }

        a {
            display: block;
            text-align: center;
        }
    }

    .noticias {
        h2 {}

        .noticiasContenedor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px;
            margin: 5px;

            .noticiasContenedorItem1 {
                margin-bottom: 10px;

                a {
                    text-decoration: none;

                    h3 {
                        font-size: 15px;
                    }
                }

                .enlacePNoticias {
                    text-decoration: none;

                    p {
                        font-size: 15px;
                    }
                }
            }

            .noticiasContenedorItem2 {
                margin-bottom: 10px;

                a {
                    text-decoration: none;

                    h3 {
                        font-size: 15px;
                    }
                }

                .enlacePNoticias {
                    text-decoration: none;

                    p {
                        font-size: 15px;
                    }
                }
            }

            .noticiasContenedorItem3 {
                a {
                    text-decoration: none;

                    h3 {
                        font-size: 15px;
                    }
                }

                .enlacePNoticias {
                    text-decoration: none;

                    p {
                        font-size: 15px;
                    }
                }
            }
        }

        .noticiasContenedor2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px;

            .noticiasContenedorItem4 {
                margin-bottom: 10px;

                a {
                    text-decoration: none;

                    h3 {
                        font-size: 15px;
                    }
                }

                .enlacePNoticias {
                    text-decoration: none;

                    p {
                        font-size: 15px;
                    }
                }
            }

            .noticiasContenedorItem5 {
                margin-bottom: 10px;

                a {
                    text-decoration: none;

                    h3 {
                        font-size: 15px;
                    }
                }

                .enlacePNoticias {
                    text-decoration: none;

                    p {
                        font-size: 15px;
                    }
                }
            }

            .noticiasContenedorItem6 {

                a {
                    text-decoration: none;

                    h3 {
                        font-size: 15px;
                    }
                }

                .enlacePNoticias {
                    text-decoration: none;

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}




@media screen and (max-width:850px) {
    .header {
        position: static;
        top: 0;
    }

    .directivos {

        h2 {}

        .directivosCargoocupar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0px;
            align-items: center;

            .directivosCargoocupar1 {
                position: relative;
                margin: 15px;

                img {
                    width: 250px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                }

                h3 {
                    position: absolute;
                    bottom: 0;
                    font-size: 15px;
                    background-color: rgba(36, 39, 51, 0.607);
                    color: white;
                    width: 100%;
                }
            }

            .directivosCargoocupar2 {
                position: relative;
                margin: 15px;

                img {
                    width: 250px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                }

                h3 {
                    position: absolute;
                    bottom: 0;
                    font-size: 15px;
                    background-color: rgba(36, 39, 51, 0.607);
                    color: white;
                    width: 100%;
                }
            }

            .directivosCargoocupar3 {
                position: relative;
                margin: 15px;

                img {
                    width: 250px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                }

                h3 {
                    position: absolute;
                    bottom: 0;
                    font-size: 15px;
                    background-color: rgba(36, 39, 51, 0.607);
                    color: white;
                    width: 100%;
                }
            }
        }
    }
}



@media screen and (max-width: 570px) {
    .hero {
        height: 70vh;
        object-fit: cover;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        a {
            padding: 3px 2px;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}

@media screen and (max-width:520px) {
    .fixed {
        right: 45px;
        bottom: 5px;

        img {
            width: 23px;
            height: 23px;
        }
    }

    .footer {
        div {
            ul {
                li {
                    padding: 4px;

                    a {
                        font-size: 15px;
                        margin-left: 8px;
                    }
                }
            }
        }

        img {
            width: 150px;
            height: 35px;
        }
    }

    .footerGaleriaRedes {
        img {
            width: 35px;
            height: 35px;
            padding: 5px;
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 500px) {
    .listaHeader {
        @include listaHeader (column, center, center);

        img {
            display: block;
            margin: auto;
            width: 200px;
            height: 45px;
        }

        nav {
            ul {
                li {
                    a {
                        display: block;
                        text-align: center;
                        font-size: 15px;
                    }

                    margin: 3px;
                }
            }
        }
    }
}

//*!---------------------------------------------MEDIA-QUERY-TIENDA-START----------------------------------------*/
@media screen and (max-width:700px) {
    .tienda {
        .contenedorTexto {
            margin-bottom: 10px;
        }

        .contenedorTexto2 {
            margin-bottom: 10px;
        }

        .h2Tienda {
            h2 {}

            p {}
        }

        .productos {
            @include productos (flex, column, center,center, center)
        }

        .productos2 {
            @include productos (flex, column, center,center, center)
        }
    }
}


//*!-----------------------------------------------MEDIA-QUERY-TIENDA-END----------------------------------------*/

//*!---MEDIA-QUERY-GALERY-START---*/
@media screen and (max-width:950px) {
    .gridGaleria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;

        .gridItem {
            grid-column: span 1;
            grid-row: span 1;
        }

        .Img1 {
            grid-column: span 2;
        }

        .Img4 {
            grid-column: span 2;
            grid-row: span 2;
        }

        .Img9 {
            grid-column: span 2;
        }
    }
}

@media screen and (max-width:450px) {
    .gridGaleria {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 100px;

        .gridItem {
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}



//*!---MEDIA-QUERY-GALERY-END---*/