$list-header-bg: linear-gradient(rgba(0, 0, 0, 0.86), rgb(87, 108, 183));
$list-header-font: var(--bs-font-sans-serif);

//*mapas
$listaHeader: (
    position-lista-header:sticky,
    display-lista-header:flex,
    justify-lista-header: space-between,
    align-lista-header: flex-end,
);
$aImgHeader: (
    ancho-img-header:300px,
    alto-img-header:100px,
);
$navHeader: (
    displa-nav-header:inline,
);
$ulHeader: (
    display-ul-header:flex,
    flex-ul-header:row,
    align-ul-header:flex-end,
    margin-ul-header:10px,
    padding-ul-header:0px,
);
$liHeader: (
    list-li-header:none,
    margin-right-li-header:20px,
    margin-botom-li-header:15px,
);
$aHeader: (
    textdecoration-a-header:none,
    fontsize-a-header:20px,
);

//*MIXIN
@mixin listaHeader ($flexdirect, $justify, $algin) {
    flex-direction: $flexdirect ;
    justify-content: $justify;
    align-items: $algin;
}

@mixin flexDirect ($flex , $direct , $algin, ) {
    display: $flex;
    flex-direction: $direct;
    align-items: $algin;
}


.cajaH2Map {
    @include flexDirect(flex, column, center);
}
.cajaH2Calendario{
    @include flexDirect (flex, column, flex-start);
}
.cajaH2Calendario p {
    @include flexDirect (flex, column, flex-start);
}
.cajaPDiashorarios{
    @include flexDirect(flex, column, stretch );
}
@mixin flexDirectRow ($flexR , $directR ){
    display: $flexR;
    flex-direction: $directR;
}
.mapYCalendarioContenedor {
    @include flexDirectRow (flex, row, );
}

//*EXTENDS 
%flexColumn {
    display: flex;
    flex-direction: column;
}

.contenedorNoticiasPrincipal {
    @extend %flexColumn;
}

.cajaSegundaLinea {
    @extend %flexColumn;
}

.cajaSegundaLinea2 {
    @extend %flexColumn;
}

.cajaEncabezadoSegundaLinea2 {
    @extend %flexColumn;
}


%flexRow {
    display: flex;
    flex-direction: row;
}

.noticiasSegundaLinea {
    @extend %flexRow;
}